
    <!-- ======= Content Section ======= -->
    <section id="content" class="d-flex flex-column justify-content-center align-items-center">
      <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Welcome to <span>Visualizer</span></h1>
        <h2>We Have Most Amazing Data Structure Visualizers</h2>
        <a href="#algorithm" class="btn-get-started scrollto">Get Started</a>
      </div>
    </section><!-- End Content -->

    <!-- ======= Algorithim Section ======= -->
    <section id="algorithm" class="algorithm">
      <div class="container">

        <div class="section-title">
          <h2>Algorithim</h2>
          <p>Have Fun!</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="algorithm-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-sort">Sorting</li>
              <li data-filter=".filter-list">List</li>
            </ul>
          </div>
        </div>

        <div class="row algorithm-container">

          <div class="col-lg-4 col-md-6 algorithm-item filter-sort wow fadeInUp">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/SelectionSort.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/selection-sort-gif.gif" data-gall="algorithmGallery"
                  class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Selection Sort" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Selection Sort">Selection Sort</a></h4>
                <p>Sort</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 algorithm-item filter-sort wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/BubbleSort.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/bubble-sort-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Bubble Sort" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Bubble Sort">Bubble Sort</a></h4>
                <p>Sort</p>
              </div>
            </div>
          </div>

	  <div class="col-lg-4 col-md-6 algorithm-item filter-sort wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/InsertionSort.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/insertion-sort-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Insertion Sort" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Insertion Sort">Insertion Sort</a></h4>
                <p>Sort</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 algorithm-item filter-sort wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/QuickSort.jpg" class="img-fluid" alt="">
                <a href="assets/img/algorithm/quick-sort-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Quick Sort" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Quick Sort">Quick Sort</a></h4>
                <p>Sort</p>
              </div>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 algorithm-item filter-sort wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/MergeSort.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/merge-sort-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Merge Sort" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Merge Sort">Merge Sort</a></h4>
                <p>Sort</p>
              </div>
            </div>
          </div>

	  <div class="col-lg-4 col-md-6 algorithm-item filter-list wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/Linklist.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/single-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Linked List" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Linked List">Linked List</a></h4>
                <p>List</p>
              </div>
            </div>
          </div>

	  <div class="col-lg-4 col-md-6 algorithm-item filter-list wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/Doubly.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/double-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Double Linked List" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Double Linked List">Double Linked List</a></h4>
                <p>List</p>
              </div>
            </div>
          </div>

	  <div class="col-lg-4 col-md-6 algorithm-item filter-list wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/Stack.png" class="img-fluid" alt="">
                <a href="assets/img/algorithm/stack-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Stack" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Stack">Stack</a></h4>
                <p>List</p>
              </div>
            </div>
          </div>

	  <div class="col-lg-4 col-md-6 algorithm-item filter-list wow fadeInUp" data-wow-delay="0.2s">
            <div class="algorithm-wrap">
              <figure>
                <img src="assets/img/algorithm/Queue.jpeg" class="img-fluid" alt="">
                <a href="assets/img/algorithm/queue-gif.gif" class="link-preview venobox"
                  data-gall="algorithmGallery" title="Preview"><i class="bx bx-plus"></i></a>
                <a href="/Visualizers/Queue" class="link-details" title="More Details"><i
                    class="bx bx-link"></i></a>
              </figure>

              <div class="algorithm-info">
                <h4><a href="/Visualizers/Queue">Queue</a></h4>
                <p>List</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
