<section style="margin-top:12px;">
     <nav class="navbar navbar-light bg-light">
        <div class="container">
          	<div class="d-flex">
            	<input  id="input" class="form-control mr-2" type="input" placeholder="Array[1,2,3]" aria-label="input">
            	<button id="enter" class="btn btn-outline-success mx-2" >Enter</button>
            	<button id ="start" class="btn btn-success mx-2">Start</button>
            	<button id ="stop" class="btn btn-danger mx-2">Stop</button>
          	</div>
          	<div class="d-flex justify-content-end">
          		<label class="mx-2 mt-2">Speed: 1x</label>
          		<input id="slider" type="range" class="form-range mt-2" min="0.1" max="5" step="0.1" style="width:270px">
          		<label class="mx-2  mt-2">5x</label>
          		<button id ="reset" class="btn btn-dark mx-2">Reset</button>
          	</div>
        </div>
    </nav>
    <canvas></canvas>
</section>
<!--<div class="container">
<h4 id="list-item-5">Review</h4>
        <p>   
            <div>
                <% if(algo.comments.length === 0) { %>
                  <small class="text-muted">No Reviews</small>
                <% } else { %>
                  <% var stars = ['<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>'] %>
                  <% for(var i = 0; i < Math.round(algo.rateAvg); i++) { %>
                      <% stars[i] = '<small><i class="fas fa-star text-danger"></i></small>' %>
                  <% } %>
                  <% for(var i = 0; i < stars.length; i++) { %>
                    <%- stars[i] %>
                  <% } %>
                  <% if (algo.comments.length === 1) { %>
                    <small class="text-muted"><%= algo.comments.length %> Review</small>
                  <% } else { %>
                    <small class="text-muted"><%= algo.comments.length %> Reviews</small>
                  <% } %>
                <% } %>
             </div>
             <div class="card shadow-sm mt-4" id="comments">
            <ul class="list-group list-group-flush">
                <li id="commentItem" class="list-group-item list-group-item-light">
                  This Visualizer has
                  <% if (algo.comments.length === 0) { %>
                    no reviews.
                    <% } else if (algo.comments.length === 1) { %>
                      1 review
                      <% } else { %>
                        <%= algo.comments.length %> reviews
                          <% } %>
                  <button class="btn btn-danger float-right">Leave a Review</button>
                </li>
                    <% algo.comments.forEach(function(comment){ %>
                      <li class="list-group-item">
                        <p>
                          <i class="fas fa-user"></i>
                          <a href="/users/<%= comment.author.id %>">
                            <%= comment.author.username %>
                          </a>
                          <span class="float-right text-muted">
                    <% var stars2 = ['<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>', '<small><i class="far fa-star text-danger"></i></small>'] %>
                    <% for(var i = 0; i < comment.rating; i++) { %>
                        <% stars2[i] = '<small><i class="fas fa-star text-danger"></i></small>' %>
                    <% } %>
                    <% for(var i = 0; i < stars2.length; i++) { %>
                      <%- stars2[i] %>
                    <% } %>
                    <small><%= moment(comment.createdAt).fromNow() %></small>
                  </span>
                        </p>
                        <span class="text-muted">
                  <%- comment.text %>
                </span>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                          <div class="float-right">
                            <a class="btn text-dark" data-toggle="collapse" data-target="#editComment" aria-expanded="false" aria-controls="editComment">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                            <form id="deleteForm2" action="/Visualizers/<%= algo._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="float-right">
                              <button class="delBtn btn text-dark">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                            </form>
                          </div>
                          <div class="collapse" id="editComment">
                            <div class="card-body">
                              <form class="needs-validation" action="/Visualizers/<%= algo._id %>/comments/<%= comment._id %>?_method=PUT" method="POST" novalidate>
                                <div class="form-group">
                                  <textarea class="form-control" id="exampleFormControlTextarea1" name="comment[text]" rows="3" required><%= comment.text %></textarea>
                                  <div class="invalid-feedback">
                                    You cannot leave this part blank.
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="" class="mr-2">Rating: </label>
                                  <% for(var i = 1; i <= 5; i++) { %>
                                    <% if(comment.rating === i) { %>
                                      <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadiow<%=[i]%>" name="comment[rating]" value="<%=[i]%>" class="custom-control-input" checked required>
                                        <label class="custom-control-label" for="customRadiow<%=[i]%>"><%=[i]%></label>
                                      </div>
                                      <% } else { %>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="customRadiow<%=[i]%>" name="comment[rating]" value="<%=[i]%>" class="custom-control-input" required>
                                          <label class="custom-control-label" for="customRadiow<%=[i]%>"><%=[i]%></label>
                                        </div>
                                        <% } %>
                                          <% } %>
                                            <div class="invalid-feedback">
                                              Please provide a rating.
                                            </div>
                                </div>
                                <button type="submit" class="btn btn-danger btn-sm">Edit Review</button>
                                <button type="reset" class="btn btn-secondary btn-sm float right">Reset</button>
                              </form>
                            </div>
                          </div>
                          <% } %>
                      </li>
                      <% }) %>
            </ul>
          </div>
                        <form class="needs-validation" action="/Visualizers/<%= algo.name %>/comments" method="POST" novalidate>
                          <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment[text]" rows="3" required></textarea>
                            <div class="invalid-feedback">
                              You cannot leave this part blank.
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="mr-2">Rating: </label>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadio1" name="comment[rating]" value="1" class="custom-control-input" required>
                              <label class="custom-control-label" for="customRadio1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadio2" name="comment[rating]" value="2" class="custom-control-input" required>
                              <label class="custom-control-label" for="customRadio2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadio3" name="comment[rating]" value="3" class="custom-control-input" required>
                              <label class="custom-control-label" for="customRadio3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadio4" name="comment[rating]" value="4" class="custom-control-input" required>
                              <label class="custom-control-label" for="customRadio4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadio5" name="comment[rating]" value="5" class="custom-control-input" required>
                              <label class="custom-control-label" for="customRadio5">5</label>
                            </div>
                            <div class="invalid-feedback">
                              Please provide a rating.
                            </div>
                          </div>
                          <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                          <button type="reset" class="btn btn-secondary btn-sm float right">Reset</button>
                        </form>
        </p>
      </div>
</div>-->
<script src="/assets/sort/{{this.model.name}}.js"></script>

