  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/Visualizers">Visualizer</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/Visualizers"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/Visualizers">Home</a></li>
          <li><a href="/about">About</a></li>
          {{#if session.isAuthenticated}}
          <li><a href="/Visualizers" {{on "click" this.logout}}>Logout</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
          {{#if (not session.isAuthenticated)}}
          <li><a href="/signup">Signup</a></li>
          {{/if}}

        </ul>
      </nav>
  <!-- .nav-menu -->

    </div>
  </header>
