<!-- ======= about Section ======= -->
    <section id="team" class="team mt-5">
      <div class="container">
       <div class="section-title">
         <h2>About</h2>
         <p>This is A Data Structure Visualizers Website.This is an ongoing project, and more complex visualisations are still being developed.Visualizer is not a finished project.
         If you spot a bug in any of our visualization page. kindly email to one of us team members.</p>
       </div>

        <div class="section-title">
          <h2>Team</h2>
          <p>Team member helped in making Visualizer</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/Akash.jpg" alt="">
              <h4>Akashdeep</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/Harsh.jpg" alt="">
              <h4>Harsh Shrivastva</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/draco9421"><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/team/Ashish.png" alt="">
              <h4>Ashish Sonam</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-center">
            <div class="member">
              <img src="assets/img/team/Dearsh.jpeg" alt="">
              <h4>Dearsh Oberoi</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End about Section -->

