  <!-- ======= Header ======= -->
  <Header />
  <!-- End Header -->
  
  {{outlet}}
  <!-- ======= Footer ======= -->
  {{#each flashMessages.queue as |flash|}}
  <div class={{concat "alert alert-" flash.type}} role="alert">
      {{flash.message}}
  </div>
  {{/each}}
  <Footer/>
  {{loader}}
  <!-- End Footer -->
